<mat-card>
  <mat-card-title>
    <span class="svg-icon icon-translation"></span>
    <span translate>SETTINGS.LANGUAGE.TITLE</span>
  </mat-card-title>
  <mat-card-subtitle translate>SETTINGS.LANGUAGE.QUOTE</mat-card-subtitle>
  <mat-card-content>
    <mat-form-field>
      <mat-label translate>SETTINGS.LANGUAGE.CHOOSE</mat-label>
      <mat-select [value]="language$ | async" (valueChange)="selectLanguage($event)">
        <mat-option value="de">{{ "SETTINGS.LANGUAGE.GERMAN" | translate }}</mat-option>
        <mat-option value="en">{{ "SETTINGS.LANGUAGE.ENGLISH" | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>
