span.icon-category {
  background-image: url(/assets/svg/liste.svg);
}

mat-card {
  position: relative;
  button {
    position: absolute;
    right: 15px;
    top:-20px;
  }
}

mat-expansion-panel {
  p {
    font-size: 12px;
    margin: 0 0 0.5em 0;
  }

  a {
    float: left;
    margin: 0 1em 0.5em 0;
  }

}
