<mat-card>
  <mat-card-title>
    <span class="svg-icon icon-category"></span>
    <span translate>SETTINGS.CATEGORIES.TITLE</span>
  </mat-card-title>
  <mat-card-subtitle translate>SETTINGS.CATEGORIES.QUOTE</mat-card-subtitle>
  <mat-card-content>
    <button mat-mini-fab (click)="newCategory()">+</button>
    <mat-accordion *ngIf="(categories$ | async) as categories; else noCategories">
      <mat-expansion-panel *ngFor="let category of categories">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ category.title }}</mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ category.description }}<a [routerLink]="['/settings/edit-category/' + category.id]"><mat-icon>edit</mat-icon></a></p>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-card-content>
</mat-card>

<ng-template #noCategories translate>SETTINGS.CATEGORIES.EMPTY</ng-template>
