<mat-card>
  <mat-card-title>
    <span class="svg-icon icon-palette"></span>
    <span translate>SETTINGS.COLOR_PALETTE.TITLE</span>
  </mat-card-title>
  <mat-card-subtitle translate>SETTINGS.COLOR_PALETTE.QUOTE</mat-card-subtitle>
  <mat-card-content>
    <ng-container *ngIf="(colorPalettes$ | async) as colorPalettes; else noPalettesTemplate">
      <mat-form-field>
        <mat-label translate>SETTINGS.COLOR_PALETTE.CHOOSE</mat-label>
        <mat-select [value]="activeColorPalette$ | async" [compareWith]="compareOptions"  (valueChange)="selectColorPalette($event)">
          <mat-option [value]="defaultColorPalette">{{ defaultColorPalette.title }}</mat-option>
          <mat-option [value]="palette" *ngFor="let palette of colorPalettes">{{ palette.title }}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </mat-card-content>
  <mat-card-footer *ngIf="(activeColorPalette$ | async) as activeColorPalette; else defaultPaletteTemplate">
    <div class="container">
      <span *ngFor="let color of utility.getColors(activeColorPalette.colors)" [ngStyle]="{ backgroundColor: color }"></span>
    </div>
  </mat-card-footer>
</mat-card>

<ng-template #noPalettesTemplate>
  {{ "SETTINGS.COLOR_PALETTE.EMPTY" | translate }}
</ng-template>

<ng-template #defaultPaletteTemplate>
  <mat-card-footer>
    <div class="container">
      <span *ngFor="let color of utility.getColors(defaultColorPalette.colors)" [ngStyle]="{ backgroundColor: color }"></span>
    </div>
  </mat-card-footer>
</ng-template>
