<mat-card>
  <mat-card-title>
    <span class="svg-icon icon-palette"></span>
    <span>Farbschema</span>
  </mat-card-title>
  <mat-card-subtitle>Das Licht leitet, die Farben füllen.</mat-card-subtitle>
  <mat-card-content>
    <ng-container *ngIf="(colorPalettes$ | async) as colorPalettes; else noPalettesTemplate">
      <mat-form-field>
        <mat-label>Farbschema auswählen</mat-label>
        <mat-select (valueChange)="selectColorPalette($event)">
          <mat-option [value]="palette" *ngFor="let palette of colorPalettes">{{ palette.title }}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </mat-card-content>
  <mat-card-footer *ngIf="(activeColorPalette$ | async) as activeColorPalette; else defaultPaletteTemplate">
    <div class="container">
      <span *ngFor="let color of activeColorPalette.colors" [ngStyle]="{ backgroundColor: color }"></span>
    </div>
    <p>Ausgewählt: <strong>{{ activeColorPalette.title}}</strong></p>
  </mat-card-footer>
</mat-card>

<ng-template #noPalettesTemplate>
  Es konnten keine Paletten gefunden bzw. geladen werden. Die Standardfarben werden verwendet.
</ng-template>

<ng-template #defaultPaletteTemplate>
  <mat-card-footer>
    <div class="container">
      <span *ngFor="let color of defaultColorPalette.colors" [ngStyle]="{ backgroundColor: color }"></span>
    </div>
    <p>Ausgewählt: <strong>{{ defaultColorPalette.title}}</strong></p>
  </mat-card-footer>
</ng-template>
